In [1]:
import pandas as pd

In [11]:
df1 = pd.read_csv("./data/TEP_CaseStudy_Fault_1_Pos_80%.csv")
df1.set_index(df1.columns[0])
df1 = df1.drop(columns=[df1.columns[0]])

In [12]:
df1

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_2,xmv_3,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11
0,0.0,1.0,1.0,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,53.744,24.657,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447
1,0.0,1.0,2.0,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,53.414,24.588,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194
2,0.0,1.0,3.0,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,54.357,24.666,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530
3,0.0,1.0,4.0,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,53.946,24.725,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089
4,0.0,1.0,5.0,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,53.658,28.797,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,500.0,496.0,0.29325,3640.1,4473.0,9.1949,26.867,42.379,2700.2,...,53.429,29.249,60.773,21.532,40.451,34.064,48.953,48.291,40.812,18.756
249996,0.0,500.0,497.0,0.29134,3625.7,4506.2,9.2109,26.889,42.291,2700.6,...,53.830,28.975,61.517,21.750,42.762,42.645,51.055,48.589,40.933,19.360
249997,0.0,500.0,498.0,0.29438,3600.2,4478.3,9.1957,26.820,42.448,2700.3,...,54.163,28.676,61.656,21.487,42.109,39.770,46.770,48.648,41.465,19.344
249998,0.0,500.0,499.0,0.25269,3683.5,4486.4,9.2832,27.188,42.757,2697.4,...,53.453,24.889,61.564,21.392,39.334,42.274,43.623,48.797,39.835,18.512
249999,0.0,500.0,500.0,0.25214,3648.2,4467.8,9.1344,26.886,42.534,2695.1,...,53.676,24.943,61.254,21.208,38.991,42.873,44.400,48.876,41.076,16.158

In [13]:
df2 = pd.read_csv("./data/TEP_CaseStudy_Fault_" + str(1) + "_Pos_" + 
                         str(80)+ "%_LSTM-AE_Output.csv")
df2.set_index(df2.columns[0])
df2 = df2.drop(columns=[df2.columns[0]])

In [14]:
df1 = df1.join(df2["Loss_mae"])
df1 = df1.join(df2["Threshold"])

In [15]:
df1

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_4,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11,Loss_mae,Threshold
0,0.0,1.0,1.0,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,62.544,22.137,39.935,42.323,47.757,47.510,41.258,18.447,NaN,NaN
1,0.0,1.0,2.0,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,59.259,22.084,40.176,38.554,43.692,47.427,41.359,17.194,NaN,NaN
2,0.0,1.0,3.0,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,61.275,22.380,40.244,38.990,46.699,47.468,41.199,20.530,NaN,NaN
3,0.0,1.0,4.0,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,59.856,22.277,40.257,38.072,47.541,47.658,41.643,18.089,NaN,NaN
4,0.0,1.0,5.0,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,60.717,21.947,39.144,41.955,47.645,47.346,41.507,18.461,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,500.0,496.0,0.29325,3640.1,4473.0,9.1949,26.867,42.379,2700.2,...,60.773,21.532,40.451,34.064,48.953,48.291,40.812,18.756,0.078257,0.174940
249996,0.0,500.0,497.0,0.29134,3625.7,4506.2,9.2109,26.889,42.291,2700.6,...,61.517,21.750,42.762,42.645,51.055,48.589,40.933,19.360,0.076785,0.174940
249997,0.0,500.0,498.0,0.29438,3600.2,4478.3,9.1957,26.820,42.448,2700.3,...,61.656,21.487,42.109,39.770,46.770,48.648,41.465,19.344,0.061994,0.174939
249998,0.0,500.0,499.0,0.25269,3683.5,4486.4,9.2832,27.188,42.757,2697.4,...,61.564,21.392,39.334,42.274,43.623,48.797,39.835,18.512,0.078618,0.174939
249999,0.0,500.0,500.0,0.25214,3648.2,4467.8,9.1344,26.886,42.534,2695.1,...,61.254,21.208,38.991,42.873,44.400,48.876,41.076,16.158,0.076033,0.174939

In [16]:
import numpy as np

def _label_point(row):
    if np.isnan(row.Loss_mae) or np.isnan(row.Threshold):
        return "TR"
    if (row["Loss_mae"]>=row["Threshold"]) and (row["faultNumber"]!=0):
        return "TP"
    if (row["Loss_mae"]<row["Threshold"]) and (row["faultNumber"]!=0):
        return "FN"
    if (row["Loss_mae"]>=row["Threshold"]) and (row["faultNumber"]==0):
        return "FP"
    if (row["Loss_mae"]<row["Threshold"]) and (row["faultNumber"]==0):
        return "TN"

In [17]:
df1["pointType"] = df1.apply (lambda row: _label_point(row), axis=1)

In [18]:
df1

,faultNumber,simulationRun,sample,xmeas_1,xmeas_2,xmeas_3,xmeas_4,xmeas_5,xmeas_6,xmeas_7,...,xmv_5,xmv_6,xmv_7,xmv_8,xmv_9,xmv_10,xmv_11,Loss_mae,Threshold,pointType
0,0.0,1.0,1.0,0.25038,3674.0,4529.0,9.2320,26.889,42.402,2704.3,...,22.137,39.935,42.323,47.757,47.510,41.258,18.447,NaN,NaN,TR
1,0.0,1.0,2.0,0.25109,3659.4,4556.6,9.4264,26.721,42.576,2705.0,...,22.084,40.176,38.554,43.692,47.427,41.359,17.194,NaN,NaN,TR
2,0.0,1.0,3.0,0.25038,3660.3,4477.8,9.4426,26.875,42.070,2706.2,...,22.380,40.244,38.990,46.699,47.468,41.199,20.530,NaN,NaN,TR
3,0.0,1.0,4.0,0.24977,3661.3,4512.1,9.4776,26.758,42.063,2707.2,...,22.277,40.257,38.072,47.541,47.658,41.643,18.089,NaN,NaN,TR
4,0.0,1.0,5.0,0.29405,3679.0,4497.0,9.3381,26.889,42.650,2705.1,...,21.947,39.144,41.955,47.645,47.346,41.507,18.461,NaN,NaN,TR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,0.0,500.0,496.0,0.29325,3640.1,4473.0,9.1949,26.867,42.379,2700.2,...,21.532,40.451,34.064,48.953,48.291,40.812,18.756,0.078257,0.174940,TN
249996,0.0,500.0,497.0,0.29134,3625.7,4506.2,9.2109,26.889,42.291,2700.6,...,21.750,42.762,42.645,51.055,48.589,40.933,19.360,0.076785,0.174940,TN
249997,0.0,500.0,498.0,0.29438,3600.2,4478.3,9.1957,26.820,42.448,2700.3,...,21.487,42.109,39.770,46.770,48.648,41.465,19.344,0.061994,0.174939,TN
249998,0.0,500.0,499.0,0.25269,3683.5,4486.4,9.2832,27.188,42.757,2697.4,...,21.392,39.334,42.274,43.623,48.797,39.835,18.512,0.078618,0.174939,TN
249999,0.0,500.0,500.0,0.25214,3648.2,4467.8,9.1344,26.886,42.534,2695.1,...,21.208,38.991,42.873,44.400,48.876,41.076,16.158,0.076033,0.174939,TN

In [19]:
df1.to_csv("./data/case2.csv", index=True)

In [49]:
j = 0
for i in df1.Threshold.unique():
    if np.isnan(i):
        j += 1
print(j)

1

In [16]:
df3 = df2.join(df1["pointType"])

In [22]:
len(df3.iloc[0].pointType)

2